/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 277px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 8px;
  cursor: pointer;
}
button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Default (this is great for your own brand color!) */
.button.button-default {
  color: #ffffff;
  background-color: #0085ff;
}
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
  color: #ffffff;
  background-color: #5865f2;
}
.button.button-discord:hover,
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Github */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* Telegram */
.button.button-telegram {
  color: #ffffff;
  background-color: #3faee8;
}
.button.button-telegram:hover,
.button.button-telegram:focus {
  filter: brightness(90%);
}

/* Twitter */
.button.button-twitter {
  color: #ffffff;
  background-color: #1da1f2;
}
.button.button-twitter:hover,
.button.button-twitter:focus {
  filter: brightness(90%);
}

.spacing {
  padding: 15px;
}

.tab-col {
  font-size: xx-large;
  text-decoration: underline;
}

.hero {
  padding-top: 25px;
  padding-bottom: 25px;
}

body {
  background-color: #ffebcd;
}
