/* Code taken and modified from here: https://www.w3schools.com/howto/howto_css_dropdown.asp */

/* Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 0px;
  font-size: 16px;
  border: none;
}

.dropbtn-PLT {
  background-color: #000000;
  color: #2fc79e;
  padding: 0px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0px 0px;
  text-decoration: none;
  display: block;
}

/* removed hover capabilities and added js click capabilities in css/dropdown.js */
