@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
    font-family: "Atkinson Hyperlegible", sans-serif;
}

html {
    background-color: #8f1d2a;
}

#port {
    width: ;
}

#link {
    color: #d0af12;
}