.kitty {
  /* display: inline-block; */
  /* text-decoration: none; */
  height: 100%;
  /* text-align: center; */
  vertical-align: middle;
  font-size: 18px;
  width: 400px;
  font-weight: 700;
  line-height: 20px;
  /* letter-spacing: 0.1px; */
  /* white-space: wrap; */
  outline: none;
  border-radius: 8px;
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
} 